body{
   width: 100%;
   height: 100%;
}
/* Pie de pagina*/
footer {
   background-color: #F1C40F;
	position: relative;

	margin-bottom: 0;
	margin-left: -10px;
	margin-right: -10px;
	height: 140px;
   bottom: 0;
   top: 350px;
	
	font-style: italic;
}